<div class="container">
    <div class="logo" fxHide.xs>
        <img src="assets/lady.png">
        <h1>Online Book Shopping</h1>
    </div>
    <div class="login-container">
        <div class="login-signup-select">
            <div class="login-select" (click)=showLogin()>
                <div class="login-and-underline">
                    <H1 [ngClass]="{'gray-color':signupShown===true}">LOGIN</H1>
                    <div [ngClass]="{'underline':signupShown===false}"></div>
                </div>
            </div>
            <div class="signup-select" (click)=showSignup()>
                <div class="signup-underline">
                    <H1 [ngClass]="{'gray-color':signupShown===false}">SIGNUP</H1>
                    <div [ngClass]="{'underline':signupShown===true}"></div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>