<div class="container">
    <div class="book-image-container">
      <div class="book-image">
        <img width="150" class="center" height="150" src="assets/component (1).png" alt="">
      </div>
      <div class="action-buttons">
        <button mat-stroked-button class="add-to-bag" click=addToCart();>ADD TO BAG</button>
        <button mat-stroked-button class="add-to-wishlist" >
          <mat-icon>favorite</mat-icon>
          WISHLIST
        </button>
      </div>
    </div>
    <div class="book-details-container">
      <div class="book-description">
        <h2>{{data.bookName}}</h2>
        <p>by {{data.authorName}}</p>
        <div class="rating-container" fxLayout="row">
          <div class="rating" fxLayout="row" fxLayoutAlign="center center">
            <span>4</span> 
            <div class="star-container" fxLayoutAlign="center center">
              <mat-icon class="star">star</mat-icon>
            </div>
          </div>
          <div class="no-of-people-rated">
            3
          </div>
        </div>
        <div class="price-container" fxLayout="row">
          <div class="dicounted-price">
            <b>Rs. 800</b>
          </div>
          <div class="actual-price">
            Rs. {{data.price}}
          </div>
        </div>
      </div>
      <div class="separater">
      </div>
      <div class="book-details">
        <div class="book-details-info" fxLayout="row">
          <div class="dot"></div><p> Book Detail</p>
        </div>
        <div class="book-details-para">
            {{data.description}}
        </div>
      </div>
      <div class="separater">
      </div>
      
  </div>