mat-hint{
    color:red;
  }
 
  .password-container{
    
    mat-icon{
      color:gray;
     
    }
  }
  .paddingtop
  { padding-top: 35px;}
  
  .buttonSignup{
    color:white;
    background-color: #A03037;
    margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    margin-top: 30px;
  }
 
  p{
      input{
        width: 100%; 
        height: 30px;
        
}
    
  }
  .noWrapper{
    width: 100%; 
    height: 30px;
   
  } 
  p{
     
      margin-top: 10px;
  }