.container{
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}
.home-wishlist{
    background-color: #FFFFFF;
    height: 5%; 
    margin-top: 25px;
}

.main{
    height: 100%;
    margin: 0px 253px 0px 253px;
}
.home{
    text-align: left;
    font: normal normal normal 15px/19px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    cursor: pointer;
  }


.cart{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #d1d0d0;
    border-radius: 1px;
    padding: 10px 30px 10px 30px;
    // display: flex;
    // justify-content: space-between;
    width: 100%;
}
.cart2{
    width: 100%;
}

.book{
    width: 256px;
    height: 89px;
    opacity: 1;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
}

.remove{
    margin-top: 35px;
}
@media only screen and (max-width: 599px) {
.cart{
    margin-left: 2px;
    width: 100%;
    border: none;
}
.main{
    margin-left: -5px;
}
.remove{
    margin-left: 20px;
}
.home-wishlist{
    margin-left: 20px;
}
}