<div fxLayout="column">

    <app-header></app-header>
    <section class="mainSection" fxFlex.lt-sm=50 fxLayout="column">
        <section class="header">
            <div class="breadCrumb">
                <span class="home" routerLink="/dashboard">Home /</span><span class="book-id"> Books(16)</span>
            </div>
        </section>

        <section class="mainContent" fxLayout="row" fxLayoutAlign="center none" fxLayout.lt-sm="column"
            fxLayoutAlign.lt-sm="center center">
            <div class="imagePart" fxLayout="column" fxLayoutAlign="none center">
                <div class="image" fxLayoutAlign="center center">
                    <img src="assets/Image 11@2x.png" alt="bookImage">
                </div>

                <div class="buttons" fxLayoutAlign="space-between center">
                    <button (click)="addToCart()" class="btn">add to bag</button>



                    <button (click)="addWishList()" class="btn wishlt" fxLayoutAlign="center center">
                        <span><img src="assets/star_white.svg" alt=""></span>
                        wishlist
                    </button>
                </div>
            </div>

            <div class="bookDetails">
                <div class="basicDetails" fxLayout="column">
                    <span class="bookName"> {{data.description}} </span>
                    <span class="author">by {{data.author}}</span>
                    <div class="ratingPart" fxLayout="row" fxLayoutAlign="none center">
                        <div class="ratings" fxLayout="row" fxLayoutAlign="center center">
                            <span class="rate">{{data.rating}}</span>
                            <span class="num" style="color: white;">4<img src="assets/star_white.svg"
                                    alt="rating"></span>
                        </div>
                        <div>
                            <span class="review"> (20)</span>
                        </div>
                    </div>

                    <div class="pricePart">
                        <span class="currPrice">Rs. {{data.price}}</span>
                        <span class="actPrice">Rs. 2000</span>
                    </div>
                </div>
                <hr>
                <div class="description">
                    <ul class="heading">
                        <li> Book detail</li>
                    </ul>
                    <p>{{data.description}}
                    </p>
                </div>
                <hr>

                <div class="FeedBack">
                    <span class="heading">Customer FeedBack</span>

                    <div class="feedbackInput" fxLayout="column">
                        <span class="ratingHeading">Overall Rating</span>
                        <div class="stars">
                            <app-star></app-star>
                        </div>
                        <textarea matInput class="searchInput" type="text" placeholder="write a review"
                        style="width: 570px;height: 70px;" name="comment" #box></textarea>
                        <div fxLayoutAlign="end center">
                            <button class="btn" (click)="getVal(box.value)">Submit</button>
                        </div>
                    </div>
                </div>
                <h2>{{currentVal}}</h2>
            </div>
        </section>
    </section>
</div>